.navbar {
  max-height: 100vw;
  min-width: 100vw;
  display: flex;
  box-shadow: 0 0 20px 3px;
  align-items: center;
  justify-content: space-between;
}

.faBars {
  color: palevioletred;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  cursor: pointer;
}

.brand {
  font-size: 2em;
  align-items: center;
  margin-right: 40px;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
  color: palevioletred;
}

.link_list {
  display: flex;
  list-style: none;

}

.link_list li {
  margin-right: 1em;
}

.a {
  padding: 0.4em 0.6em;
}

.active {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 768px){
  .faBars {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }

  .brand {
    font-size: 1em;
    align-items: center;
    margin-right: 40px;
  }


	.link_list li {
    font-size: 5px;
  }
}
