.navbar {
  max-height: 90vh;
  min-width: 90vw;
  display: flex;
  box-shadow: 0 0 20px 2px;
  align-items: center;
  justify-content: space-between;
}


.faBars {
  color: palevioletred;
  width: 100px;
  height: 100px;
  cursor: pointer;
  padding: 20px;
}


.faBars_inactive {
  color: gray;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.brand {
  font-size: 4em;
  align-items: center;
  
 
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
  color: palevioletred;
}

.link_list {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
 
}

.link_list li {
  margin-right: 1em;
}



.active {
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 768px){
  .faBars {
    color: palevioletred;
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 20px;
  }
  
  
  .faBars_inactive {
    color: gray;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  
  .brand {
    font-size: 1.5em;
    align-items: center;
  }
  
  .brand span {
    font-weight: 900;
    text-transform: uppercase;
    color: palevioletred;
  }
  
  .link_list {
    display: flex;
    list-style: none;
    flex-direction: column;
   
  }
  
  .link_list li {
    font-size: .35em;
    margin-right: 1em;
  }
  
  
  .active {
    background-color: #000;
    color: #fff;
  }
}
